.container {
  height: 100%;
  width: 100%;
  background: #D33E4B;
  overflow: auto;

  .subtitle {
    padding-top: 24px;
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: -20px;
  }

  .eventInfo {
    color: white;
    font-size: 10px;
    line-height: 2em;
    margin: -40px 50px 0 40px;
  }
}
